<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/be05e512a3.js" crossorigin="anonymous"></script>
    <title>WSocket Index</title>
</head>
<body>
    <div class="container mt-3 d-flex flex-column align-items-center">
        <form id="form" class="container d-flex flex-column align-items-center">
            <div class="form-group d-flex flex-column col-sm-8 col-md-10 col-lg-8">
            <p>
                <label for='title'>Producto</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-shopping-cart"></i></div>
                    </div>
                <input id='title' class="form-control" name="title" required>
                </div>
            </p>
           
            <p> 
                <label for='price'>Precio</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-money-bill-wave"></i></div>
                    </div>
                <input id='price' class="form-control" name="price" placeholder="$US" required type='number' step=".01">
                </div>

            </p>
            
            <p>
                <label for='thumbnail'>URL</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="far fa-images"></i></div>
                    </div>
                    <input id='thumbnail' class="form-control" name="thumbnail" required placeholder="URL imagen de producto">
                </div>


            </p>
            <p>
                <button class="form-control btn btn-success" style="width: 10em;" type="submit">Guardar</button>

            </p>
            </div>
        </form>
    </div>

    <div id="tableContainer" class="container" >
    <table id="table" class="table m-3 table-bordered" >
        <thead class="thead-dark">
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Foto</th>
        </tr>
        </thead>
        <tbody id='tbody' class="body">
        </tbody>
    </table>
    </div>

    <div class="container mb-5">
        <form id="chatForm" class="form-group">
        <div class="container form-group d-flex flex-column col-sm-8 col-md-10 col-lg-8">
            <h3>Centro de mensajes</h3>
            <div class="row">
                <div class="col form-group" >
                    <input id="id" class="form-control" placeholder="myEmail@something.com" required>
                </div>
                <div class="col form-group">
                    <input id="nombre" class="form-control" placeholder="Tu nombre" required>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <input id="apellido" class="form-control" placeholder="Tu apellido" required>
                </div>
                <div class="col form-group">
                    <input id="edad" class="form-control" placeholder="Edad" required>                
                </div>

            </div>

            <div class="row">
                <div class="col form-group">
                    <input id="alias" class="form-control" placeholder="Alias" required>                
                </div>
                <div class="col form-group">
                    <input id="avatar" class="form-control" placeholder="url avatar" required>                
                </div>

            </div>

        </div>
        <div id="chatContainer" class="container">

        </div>
        <div class="container d-flex flex-row col-8 ">
                    <input type='text' class="form-control mr-4" id="messageToSend" placeholder="ingresa un mensaje...">
                    <input type='submit' class="btn btn-success" value="Enviar">
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='../DOMevents.js'></script>


</body>
</html>